
/* defining some nice font */
@font-face {
	font-family: "custom_font1";
	src: url('fonts/all_things.ttf') format('truetype');
}

/* general configurations for html tags */
header {
	font-family: "custom_font1";
	font-size: 500%;
	color: white;
	text-align: center;
}

aside {
	float: right;
}

ul {
	float: right;
	text-align: left;
	overflow: auto;
	height: 250px;
}

label {
	font-family: "custom_font1";
	font-size: medium;
	color: white;
}

footer {
	margin-top: 1.5cm;
}

/* main views */
#index {
	background-color: #00ace6;
	background-image:url("imgs/background1.png");
}

#dashboard {
	background-image:url("imgs/background2.png");
}

#dash_background {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:-5%;
	width:30%;
	height:30%;
}

#create {
	background-image:url("imgs/background3.png");
}

#answer {
	background-image:url("imgs/background4.png");
}

/* for god sake... put those on another file... */

.li_item {
	font-family: "custom_font1";
	font-size:150%;
	text-align: left;
	margin-top:0.5cm;
	margin-bottom: 0.5cm;
	margin-left: 1.0cm;
	margin-right:8.0cm;
	width:300px;
}

.container {
	display: flex;
	margin: 0 auto;	
}

.container2 {
	display: flex;
	position: absolute;
	width: 500px;
	top: 130px;
	right: 70%;
	left: 30%;
}

.input_form {
	border-radius:	 15px;
	overflow: 	 hidden;
	perspective: 	 1px;
	border-collapse: collapse;
	border-width:	 2px;
	border-style:	 solid;
	border-color:	 white;
	text-align:	 center;
	margin-left:	 auto;
	margin-right:	 auto;
}

.input_form2 {
	border-radius:	 15px;
	overflow: 	 hidden;
	perspective: 	 1px;
	border-collapse: collapse;
	border-width:	 2px;
	border-style:	 solid;
	border-color:	 white;
	text-align:	 center;
	margin-left:	 auto;
	margin-right:	 auto;
}
.form_button {
	height: 60px;
	width: 60px;
	font-family: "custom_font1";
	font-size: medium;
	color: white;
}

.sidebar_button {
	height: 50px;
	width: 50px;
	font-family: "custom_font1";
	font-size: medium;
	color: white;
}

.elem {
	display: float;
}

.btn_lbl {
	align: center;
	margin-top:1.5cm;
	margin-bottom: 0.5cm;
	margin-left: 1.0cm;
	margin-right:1.0cm;
}

#op_sidebar {
	position: fixed;
	top: 130px;
	right:40px;'
}

.create_question {
	font-family: "custom_font1";
	margin-top:0.5cm;
	margin-bottom: 0.5cm;
	margin-left: 1.0cm;
	margin-right:1.0cm;
	text-align: justify;
	text-justify: inter-word;
	/* float: inline-block;*/
}

.create_text {
	border-radius: 5px;	
}


.question_lbl {
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 10.5cm;
	margin-left: 0.5cm;
	margin-right:0.5cm;
	margin-bottom: 0.7cm;
}

/* some specific graphic elements */
#create_sidebar {
	float: none;
}

#create_img {
	height: 300px;
	width: 300px;
}

#create_div {
	position: fixed;
	top: 150px;
	float: none;
	margin: 0 auto;
}
